<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BorrowingSystem</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

    <link rel="stylesheet" href="~/css/site.css" />
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "management")
    {
        <link rel="stylesheet" href="~/css/Management.css" />
    }
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard")
    {
        <link rel="stylesheet" href="~/css/Dashboard.css" />
    }
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "editprofile")
    {
        <link rel="stylesheet" href="~/css/EditProfile.css" />
    }
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "myborrow")
    {
        <link rel="stylesheet" href="~/css/MyBorrow.css"  />
    }
    <script src="~/js/Utill.js"></script>
    <script src="~/js/Api.js"></script>
    <script src="~/js/Layout.js"></script>
</head>
<body class="horizontal-display">
    <nav class="sidenav" style="display:flex;flex-direction:column;">
        <div id="topImageNav">
            <img src="~/img/Logo.png" alt="logo picture" width="100" />
        </div>
        @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "dashboard")
        {
            ViewBag.navButtonColor = "#9d0042";
            ViewBag.navButtonBackgroundColor = "#FFEFF8";
        }
        else
        {
            ViewBag.navButtonColor = "white";
            ViewBag.navButtonBackgroundColor = "transparent";
        }
        <div class="navbutton" style="color: @ViewBag.navButtonColor;background-color: @ViewBag.navButtonBackgroundColor;">
            
            <a href="/dashboard" style="color:@ViewBag.navButtonColor;">
            <span class="material-icons menu-icon">
                dashboard
            </span>
            Dashboard</a>
        </div>
        @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "myborrow")
        {
            ViewBag.navButtonColor = "#9d0042";
            ViewBag.navButtonBackgroundColor = "#FFEFF8";
        }
        else
        {
            ViewBag.navButtonColor = "white";
            ViewBag.navButtonBackgroundColor = "transparent";
        }
        <div class="navbutton" id="myBorrowNavigation" style="color: @ViewBag.navButtonColor;background-color: @ViewBag.navButtonBackgroundColor;">
            <a href="/myborrow" style="color:@ViewBag.navButtonColor;">
            <span class="material-icons  menu-icon">
                swap_vert
            </span>
            My borrow</a>
        </div>
        @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "management")
        {
            ViewBag.navButtonColor = "#9d0042";
            ViewBag.navButtonBackgroundColor = "#FFEFF8";
        }
        else
        {
            ViewBag.navButtonColor = "white";
            ViewBag.navButtonBackgroundColor = "transparent";
        }
        <div class="navbutton" id="managementNavigation" style="color: @ViewBag.navButtonColor;background-color: @ViewBag.navButtonBackgroundColor;">
            <a href="/management" style="color:@ViewBag.navButtonColor;">
                <span class="material-icons menu-icon">
                    pie_chart
                </span>
                Management
            </a>
        </div>
        @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "editprofile")
        {
            ViewBag.navButtonColor = "#9d0042";
            ViewBag.navButtonBackgroundColor = "#FFEFF8";
        }
        else
        {
            ViewBag.navButtonColor = "white";
            ViewBag.navButtonBackgroundColor = "transparent";
        }
        <div class="navbutton"  style="color: @ViewBag.navButtonColor;background-color: @ViewBag.navButtonBackgroundColor;">
            <a href="/editprofile" style="color:@ViewBag.navButtonColor;">
                <span class="material-icons menu-icon">
                    person
                </span>
                Edit profile
            </a>
        </div>
        <div style="flex: 1;"></div>
        <div class="loader" id="logOutLoader" style="display:none;"></div>
        <div class="navbutton" id="logOutSection" style="color:white;">
            
            <a href="" id="logOut" onclick="logOutHandler(event)">
                <span class="material-icons menu-icon">
                    logout
                </span>
                Log out
            </a>
        </div>

    </nav>
    <div id="mainContainer">
        <main role="main" class="pb-3" id="layoutMainContent">
            @RenderBody()
        </main>
    </div>
</body>
</html>
